@charset "UTF-8";
header {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 20px;
  animation: sombraAnimacion 1s infinite alternate;
}

@keyframes sombraAnimacion {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
  }
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 10px;
  transition: transform 0.3s ease;
}
li a {
  text-decoration: none;
  color: #212529;
  transition: color 0.3s ease;
}
li a:hover {
  color: rgba(165, 154, 6, 0.9529411765);
  transform: translateY(-3px);
  box-shadow: 1px 1px rgba(248, 115, 115, 0.37);
}
li a.active {
  color: rgba(165, 154, 6, 0.9529411765);
}

section article .equipos-sectores ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  background-color: #f3f4f6;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
section article .equipos-sectores p {
  margin-bottom: 20px;
}
section article .equipos-sectores ul li {
  font-weight: bold;
  margin-bottom: 10px;
}
section article .equipos-sectores ul p {
  margin-bottom: 20px;
  font-style: italic;
}
section:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

section article .equipos-sectores ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section article .equipos-sectores ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #212529; /* Aplicando el color de fondo al footer */
}
footer .redes_sociales {
  text-align: center;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
footer .redes_sociales h3, footer .redes_sociales a {
  margin: 0;
  padding: 0;
  transition: all 1s ease;
  box-shadow: 2px 2px 2px black;
  text-decoration: none;
  text-shadow: black;
  color: rgba(207, 207, 4, 0.685);
  background-color: #212529;
}
footer .redes_sociales h3:hover, footer .redes_sociales a:hover {
  color: #0a0c0d;
  transform: translateY(-5px);
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 767px) {
  /* Estilos del header */
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
  /* Estilos del artículo */
  article {
    padding: 20px;
  }
  /* Estilos del footer */
  footer {
    padding: 20px;
  }
}
/* Media queries para tabletas */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos del header */
  header nav ul {
    justify-content: center;
  }
  /* Estilos del artículo */
  article {
    padding: 30px;
  }
  /* Estilos del footer */
  footer {
    padding: 30px;
  }
}
aside {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}
aside .aplicar_marketing-digital,
aside .aplicar-ciberseguridad,
aside .aplicar_desarrollo--mantenimiento,
aside .aplicar-servicio_cloud {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  animation: aparecer 0.5s ease forwards;
}
aside .aplicar_marketing-digital h1, aside .aplicar_marketing-digital h2, aside .aplicar_marketing-digital h3, aside .aplicar_marketing-digital h4,
aside .aplicar-ciberseguridad h1,
aside .aplicar-ciberseguridad h2,
aside .aplicar-ciberseguridad h3,
aside .aplicar-ciberseguridad h4,
aside .aplicar_desarrollo--mantenimiento h1,
aside .aplicar_desarrollo--mantenimiento h2,
aside .aplicar_desarrollo--mantenimiento h3,
aside .aplicar_desarrollo--mantenimiento h4,
aside .aplicar-servicio_cloud h1,
aside .aplicar-servicio_cloud h2,
aside .aplicar-servicio_cloud h3,
aside .aplicar-servicio_cloud h4 {
  color: #5e08a5;
}
aside .aplicar_marketing-digital p,
aside .aplicar-ciberseguridad p,
aside .aplicar_desarrollo--mantenimiento p,
aside .aplicar-servicio_cloud p {
  color: #5c035c;
}
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
aside .aplicar_marketing-digital h1,
aside .aplicar-ciberseguridad h2,
aside .aplicar_desarrollo--mantenimiento h3,
aside .aplicar-servicio_cloud h4 {
  margin-bottom: 10px;
}

/*# sourceMappingURL=contacto.css.map */
