/*Variables (colores, tipografía, etc.)*/
$yellow: yellow;
$black: black;
$white: white;
$blueviolet: blueviolet;
$transition-duration: 1s;
$border-radius: 20px;

$amarillo: rgb(171, 173, 7);
$grey: grey;
$rgba-black: rgba(0, 0, 0, 0.5);
$transition-duration: 0.3s;
$animation-duration: 0.5s;

$bg-body-tertiary: #f0f0f0;
$text-color: #333;
$transition-duration: 1s;
$box-shadow-default: 0px 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0px 4px 8px rgba(0, 0, 0, 0.2);
$color-seagreen: seagreen;
$color-blueviolet: blueviolet;

$border-radius: 10px;
$rgba-black: black;
$rgba-black-strong: black;
$transition-duration: 1s;

$shadow-color: rgba(0, 0, 0, 0.3);
$shadow-size: 5px;
$animation-duration: 0.5s;

