// estilo de barra lateral

// Variables
$shadow-color: rgba(0, 0, 0, 0.3);
$shadow-size: 5px;
$animation-duration: 0.5s;

// Funciones
@function multiply($a, $b) {
  @return $a * $b;
}

// Variables
$video-width: 18rem; // Ancho de los videos
$video-height: 10rem; // Altura de los videos

// Extend para la sombra
%shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); // Sombra
  transition: transform 0.3s ease; // Transición de la sombra al pasar el ratón
}

// Extend para la animación
%hover-scale {
  &:hover {
    transform: scale(1.05); // Escalar al pasar el ratón
  }
}

// Estilos para los videos
.card-video {
  display: inline-block; // Para que los elementos estén en línea
  width: $video-width;
  height: $video-height;
  margin-right: 20px; // Espacio entre los videos
  border-radius: 8px;
  overflow: hidden;
  text-align: center; // Para centrar el video horizontalmente
  @extend %shadow; // Aplicar sombra

  video {
    width: 100%;
    height: 100%;
    object-fit: cover; // Para que el video cubra todo el contenedor sin deformarse
    border-radius: 8px;
    @extend %hover-scale; // Aplicar animación al pasar el ratón
  }

  &:last-child {
    margin-right: 0; // Eliminar el margen derecho del último video para evitar espacios adicionales
  }
}



// Estilos para la lista de beneficios
.lista_beneficios--pelo {
  text-align: center;
  margin-bottom: 20px;

  p {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      font-size: 16px;
      color: #000;
      margin-bottom: 10px;
    }
  }
}

// Estilos para las fotos
.masfotos--pelo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;

  img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 $shadow-size multiply(2, $shadow-size) $shadow-color;
    transition: box-shadow $animation-duration ease;

    &:hover {
      box-shadow: 0 $shadow-size multiply(4, $shadow-size) $shadow-color;
      animation: pulse $animation-duration infinite alternate;
    }
  }
}

// Animaciones
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}









