/* Estilos base (elementos HTML, etc.)*/
$color-titulo:#5c1e8f;
$color-subtitulo: #02a2bedc;

.titulo{
color: $color-titulo;
}

.subtitulo{
    color: $color-subtitulo;
}
.sectionarticle{
    color: $color-subtitulo;
}
